.detailedBookMainDiv{
    background-color: #383838;
    height: 100%;
    width: 90%;
    border: 2px;
    border: solid black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    .styledLink
    {
      display: block;
      border: solid white;
      border-radius: 5px;
      border-width: 2px;
      background-color: black;
      color: yellow;
    }
    .styledLink:hover
    {
      background-color: rebeccapurple;
    }
    .styledLink:active
    {
      background-color: red;
    }
    input{
        text-decoration: none;
        color: yellow;
        font-size: 20px;
        border-width: 0px;
        width: 100%;
    }
    input[type="text"]{
        color: white;
          background: #000000;
        text-align: center;
          padding: 20px;
          border: 4px solid #20bf6b;
        font-weight: bold;
          border-radius: 6px;
          display: inline-block;
          transition: all 0.3s ease 0s;
        width: 90%;
      }
    img
    {
        max-width: 50%;
        max-height: 30%;
    }
    .detailedDescriptionDiv{
      overflow-y: auto;
      width: 100%;
      height: 100%;
      border: solid #272727;
    }
    .detailedDisplayButton{
      color: yellow;
      font-weight: bold;
    }
}
