.mainDiv {
  margin:0;
  }
  .title
  {
    text-align: right;
  }
  input[type="text"] {
  color:#FFF;
  background:#000;
  text-align:center;
  border:4px solid #20bf6b;
  font-weight:700;
  border-radius:6px;
  display:inline-block;
  transition:all .3s ease 0;
  padding:20px;
  width: 80%;
  }
  
  input[type="button"] {
  border:solid #FFF;
  border-radius:5px;
  background-color:#000;
  color:#FF0;
  width:50%;
  border-width:2px;
  }
  
  .styledLink {
  display:block;
  border:solid #FFF;
  border-radius:5px;
  background-color:#000;
  color:#FF0;
  border-width:2px;
  text-align: center;
  }
  .errormessage{
    text-align: center;
    font-size: 50px;
  }
  
  img {
  max-height:100px;
  width:auto;
  }
  
  .navbarFlex {
  display:flex;
  }
  
  .navbarLeftSideOfFlex {
  flex-grow:3;
  }
  
  .bookMainDiv {
  background-color:#383838;
  height:500px;
  width:400px;
  border:solid #000;
  text-align:center;
  font-size:20px;
  text-decoration:none;
  color:#fff;
  }
  
  .detailedDisplayButton {
  color:#FF0;
  font-weight:700;
  }
  
  .bookFlexContainer {
  background-color:#131313;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
  overflow-y:auto;
  height:calc(100vh-100px);
  border:solid #000;
  }
  
  .descriptionDiv {
  overflow-y:auto;
  height:360px;
  border:solid #272727;
  }
  
  .leftSidebar {
    margin-top: -22px;
  position:fixed;
  width:295px;
  border:solid #000;
  background-color:#2c2c2c;
  text-align:center;
  align-items:center;
  }
  
  .booksContainer {
  margin-left:300px;
  }
  
  .addAndEditBookForm {
    text-align: center;
  border:solid #FF0;
  background-color:#525252;
  }
  
  input[type="button"]:hover,.styledLink:hover {
  background-color:rebeccapurple;
  }
  
  input[type="button"]:active,.styledLink:active,.deleteButton {
  background-color:red;
  }
  
  @media only screen and (max-width: 768px){
    .leftSidebar {
    position:fixed;
    width:100%;
    border:solid #000;
    background-color:#2c2c2c;
    text-align:center;
    align-items:center;
    margin-top: -80px;
    }
    .rightSidebar{
      width: 100%;
      margin: 0;
    }
    .bookFlexContainer{
      display:unset;
      width: 100%;
    }
    .navbarFlex
    {
      display:unset;
    }
    .bookMainDiv {
      background-color:#383838;
      height:500px;
      margin-top: 30px;
      width:100%;
      border:solid #000;
      text-align:center;
      font-size:20px;
      text-decoration:none;
      color:#fff;
    }
    .booksContainer {
      margin-left:0px;
      margin-top: 100px;
      }
    .title{
      position: fixed;
      margin-top: -100px;
      background-color: black;
      width: 100%;
      text-align: center;
    }
    
  }
